%h1 Confirmation email settings
%p
  You can help fight spam by automatically sending an email to new users asking them to click a link to confirm their account. 
  %br
  Enable confirmation emails by checking the following box:

= form_for AppSettings, :url => {:controller => 'admin', :action => 'save_confirmation_email_settings'}, :method => :post do |f|
  .field
    = f.label :confirm_email_on_registration
    = f.check_box :confirm_email_on_registration
  .field
    = f.label :smtp_authentication_username
    = f.text_field :smtp_authentication_username
  .field
    = f.label :smtp_authentication_password
    = f.text_field :smtp_authentication_password

  .collapsible
    %a{:class => 'collapsible-title'} Advanced settings
    .collapsible-content
      .field
        = f.label :smtp_server
        = f.text_field :smtp_server
      .field
        = f.label :smtp_authentication
        = f.text_field :smtp_authentication
      .field
        = f.label :smtp_domain
        = f.text_field :smtp_domain

  %br
  .actions
    = f.submit 'Save settings'

