%h1 Admin tasks
%ul{:class => 'bulleted'}
  %li= link_to 'Manage users', users_path
  %li= link_to 'Moderate submissions and comments', moderate_submissions_path
  %li= link_to 'Modify confirmation email settings', confirmation_email_settings_path
  %li= link_to 'Change the name of your app', change_name_path
  %li= link_to 'Modify the about page', modify_about_page_path
  %li= link_to 'Upload a new logo', new_logo_path
