%h1
  %span= @user
  %span{:class => "karma-indicator"}= "[#{@user.karma}]"
= render :partial => "users/filters", :locals => {:user => @user}
%p= "#{@user} posted #{pluralize @user.submissions.size, "submission"}"
= render :partial => "submissions/list", :locals => {:submissions => Submission.page(params[:page]).where(:user_id => @user)}
