%h1= @user
%p= "#{@user.submissions.size} submissions for a karma of #{@user.karma}"
= render :partial => "submissions/list", :locals => {:submissions => Submission.page(params[:page]).where(:user_id => @user)}
