%tr{:class => resolve_class_for_coloring_submission(submission)}
  - if index
    %td{:class => 'rank'}
      - rank = index + 1
      - if !params[:page].nil? and params[:page].to_i > 1
        - rank = rank + (params[:page].to_i - 1) * Submission.default_per_page
      = "#{rank}."
  %td{:class => 'vote-area'}
    = render :partial => "submissions/vote", :locals => {:submission => submission}
  %td
    %span{:class => 'submission-link'}= link_to submission.title, submission.url, {:rel => 'nofollow'}
    = render :partial => "submissions/quick_links", :locals => {:submission => submission}
    /
      = "interestingness = #{submission.interestingness}"
    .submission-info
      = render :partial => "users/posted_by", :locals => {:user => submission.user, :resource => submission}
      .submission-description= submission.description
