- whole_text ||= false

%tr{:class => resolve_class_for_coloring_submission(submission)}
  - if index
    %td{:class => 'rank'}
      - rank = index + 1
      - if !params[:page].nil? and params[:page].to_i > 1
        - rank = rank + (params[:page].to_i - 1) * Submission.default_per_page
      = "#{rank}."
  %td{:class => 'vote-area'}
    = render :partial => "submissions/vote", :locals => {:submission => submission}
  %td
    - title = whole_text ? submission.title : truncate(submission.title, :length => 100)
    %span{:class => 'submission-link'}= link_to title, resolve_submission_url(submission), {:rel => 'nofollow'}
    = render :partial => "submissions/quick_links", :locals => {:submission => submission}
    /
      = "interestingness = #{submission.interestingness}"
    .submission-info
      = render :partial => "users/posted_by", :locals => {:user => submission.user, :resource => submission}
      - description = whole_text ? submission.description : truncate(submission.description, :length => 100)
      %div{:class => "submission-description #{whole_text ? 'pre-wrap' : ''}"}= description
