%table{:id => "submissions-list"}
  - submissions.each do |submission|
    %tr
      %td{:class => 'vote-area'}
        = render :partial => "submissions/vote", :locals => {:submission => submission}
      %td{:class => 'description'}
        = link_to submission.title, submission.url, {:rel => 'nofollow'}
        %span<
          = "("
          = link_to "comments", {:controller => :submissions, :action => :show, :id => submission.id}
          = ")"
        = render :partial => "users/posted_by", :locals => {:user => submission.user}
        %br
        = submission.description

