%table{:id => "submissions-list"}
  - submissions.each_with_index do |submission, index|
    %tr
      %td{:class => 'rank'}
        - rank = index + 1
        - if !params[:page].nil? and params[:page].to_i > 1
          - rank = rank + (params[:page].to_i - 1) * Submission.default_per_page
        = "#{rank}."
      %td{:class => 'vote-area'}
        = render :partial => "submissions/vote", :locals => {:submission => submission}
      %td{:class => 'description'}
        = link_to submission.title, submission.url, {:rel => 'nofollow'}
        /
          = "interestingness = #{submission.interestingness}"
        %span<
          = "("
          = link_to "comments", submission_path(submission)
          = ")"
        - if current_user.try :admin
          %span{:class => "admin-links"}
            = "["
            %span{:id => "admin-links-#{submission.id}"}
              - if submission.is_spam?
                = "Marked as spam"
              - else
                = link_to "mark as spam", mark_as_spam_path(:id => submission.id), :method => :post, :remote => true, :class => "mark-as-spam-link"
            = "]"
            :javascript
              $(document).ready(function(){
                $('.mark-as-spam-link').bind('ajax:success', function(obj, data){
                  data = eval("(" + data + ")");
                  $('#admin-links-' + data['id']).text(data['message']);
                });
              });

        = render :partial => "users/posted_by", :locals => {:user => submission.user, :resource => submission}
        %br
        = submission.description

= paginate submissions

