%b= link_to submission.title, submission.url, {:rel => 'nofollow'}
/
  = "interestingness = #{submission.interestingness}"
- if action_name != "show"
  %span<
    = "("
    = link_to "comments", submission_path(submission)
    = ")"
- if current_user.try :admin
  %span{:class => "admin-links"}
    = "["
    %span{:id => "admin-links-#{submission.id}"}
      - if submission.is_spam?
        = I18n.t 'marked_as_spam'
        = link_to "undo", undo_mark_submission_as_spam_path(:id => submission.id), :method => :post, :remote => true, :class => "undo-mark-submission-as-spam-link"
      - else
        = link_to "mark as spam", mark_submission_as_spam_path(:id => submission.id), :method => :post, :remote => true, :class => "mark-submission-as-spam-link"
    = "]"
    :javascript
      $(document).ready(function(){
        $('.undo-mark-submission-as-spam-link').bind('ajax:success', function(obj, data){
          data = eval("(" + data + ")");
          $('#admin-links-' + data['id']).text(data['message']);
        });
        $('.mark-submission-as-spam-link').bind('ajax:success', function(obj, data){
          data = eval("(" + data + ")");
          $('#admin-links-' + data['id']).text(data['message']);
        });
      });

