- if current_user.nil? or current_user.can_vote_for(submission)
  = link_to vote_up_path(:id => submission.id), :method => :post, :remote => true, :class => "vote-up", :id => "voting-booth-#{submission.id}", :title => 'vote up' do
    != icon 'circle-arrow-n'

%span
  %span{:class => 'score-bracket'}= "["
  %span{:class => 'score', :id => "score-for-submission-#{submission.id}"}>= submission.score.to_i
  %span{:class => 'score-bracket'}= "]"

:javascript
  $(document).ready(function(){
    $('#voting-booth-#{submission.id}').bind('ajax:success', function(obj, data){
      data = eval("(" + data + ")");
      $('#score-for-submission-' + data['id']).text(data['score']);
      $('#voting-booth-' + data['id']).addClass('invisible');
    });
  });

