%h1 Listing submissions

%table
  %tr
    %th Actions
    %th Title
    %th Url
    %th Description
    %th
    %th
    %th

  - @submissions.each do |submission|
    %tr{:id => "submission#{submission.id}"}
      %td
        = link_to 'Vote up', "#{submission.id}/vote_up", :method => :post, :remote => true, :class => "vote-up"
        = "("
        %span{:id => "score"}= submission.score
        = ")"
      %td= submission.title
      %td= submission.url
      %td= submission.description
      %td= link_to 'Show', submission
      %td= link_to 'Edit', edit_submission_path(submission)
      %td= link_to 'Destroy', submission, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Submission', new_submission_path

:javascript
  $(document).ready(function(){
    $('.vote-up').bind('ajax:success', function(obj, data){
      data = eval("(" + data + ")");
      $('#submission' + data['id'] + ' #score').text(data['score']);
    });
  });
