%h1 Socialite

%table
  - @submissions.each do |submission|
    %tr
      %td
        = render :partial => "vote", :locals => {:submission => submission}
      %td= submission.title
      %td= submission.url
      %td= submission.description
      %td= link_to 'Show', submission
      %td= link_to 'Edit', edit_submission_path(submission)
      %td= link_to 'Destroy', submission, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Submission', new_submission_path

