%p#notice= notice

%p= render :partial => "vote", :locals => {:submission => @submission}
%p
  %b= link_to @submission.title, @submission.url
  = render :partial => "users/posted_by", :locals => {:user => @submission.user}
%p= @submission.description

= link_to 'Edit', edit_submission_path(@submission)
\|
= link_to 'Back', submissions_path
