= link_to 'Edit', edit_submission_path(@submission)
%p
  = render :partial => "vote", :locals => {:submission => @submission}
  %b= link_to @submission.title, @submission.url
  /
    = "interestingness = #{@submission.interestingness}"
  = render :partial => "users/posted_by", :locals => {:user => @submission.user, :resource => @submission}
%p= @submission.description

= form_for :comment, :url => {:controller => :comments, :action => :create}, :remote => true, :method => :post, :html => {:id => 'post-comment-at-top'} do |f|
  %input{:type => :hidden, :name => "comment[submission_id]", :value => @submission.id}
  = f.text_area :text
  = f.submit "reply"
  :javascript
    $(document).ready(function(){
      $('#post-comment-at-top').bind('ajax:success', function(obj, data){
        $("#comments-list tbody").prepend(data);
        $(this).remove();
      });
    });


%table{:id => "comments-list"}
  %tbody
    - @submission.top_level_comments.each do |comment|
      = render :partial => 'comments/comment', :locals => {:comment => comment}

