!!!
%html
  %head
    %title
      Socialite
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    <!--[if IE]>
    %style{:type => "text/css"}
      = ".cleared {"
      = "zoom: 1;"
      = "}"
    <![endif]-->
    .center-pane
      .inner-center-pane
        %div{:class => "top-nav-bar"}
          .site-title
            %h1 #{current_user.nil? ? "" : "#{current_user} | "}socialite
          %ul{:class => "cleared"}
            %li
              = link_to "Submissions", :root
            %li
              = link_to 'Submit a new story', new_submission_path
            - if current_user.nil?
              %li
                = link_to "Sign in", new_session_path(:user)
              %li
                = link_to "Sign up", new_registration_path(:user)
            - if !current_user.nil?
              %li
                = link_to "Sign out", destroy_user_session_path
            %li
              = link_to "About", 'about'
            - if current_user.try :admin
              %li
                = link_to "Admin", admin_path
        %p{:class => "notice"}
          = notice
        %p{:class => "alert"}
          = alert
        = content_for?(:application) ? yield(:application) : yield
